<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Jadoo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400&family=Volkhov:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
    <div class="container">
        <section class="login">
            <!-- Animated Flying Airplane -->
            <div class="login-plane">
                <img src="../assets/login-airplane.png" alt="Airplane">
            </div>

            <div class="login-image">
                <!-- Left Visual Image Panel -->
                <div class="login-girl">
                    <img src="../assets/login-girl.png" alt="Traveler">
                </div>

                <!-- Right Form Panel -->
                <div class="login-form">
                    <form action="" class="form">
                        <div class="input-fields">
                            <label for="user-id" class="label">Login</label>
                            <input type="text" id="user-id" placeholder="Your ID" required>
                            <input type="password" placeholder="Password" required>
                        </div>

                        <div class="input-buttons">
                            <button type="submit" class="login-btn">Login</button>
                            
                            <div class="secondary-actions">
                                <a href="#" class="forget-btn">Forgot Password?</a>
                                <span class="divider-dot">•</span>
                                <a href="#" class="signup-btn">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>