body {
    /* max-width: 1440px; */
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    min-width: 320px;

}
html {
  scroll-behavior: smooth;
}   
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


section {
    margin: 0;
}

.image {
    position: absolute;
    top: 0%;
    right: 0%;
    overflow: hidden;
    object-fit: fill;
    aspect-ratio: 1/1;
    width: 50%;
    z-index: -1;
}

.image img {
    width: 100%;
    height: 100%;
}
.redstroke{
   
    position: absolute;
    width: 15%;
    z-index: -2;


}
.redstroke img{
    width: 100%;

}

.navbar {
    display: flex;
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: nowrap;
    background-color: none;
    align-items: center;
    z-index: 8;
    backdrop-filter: blur(8px);
    margin: 0;
}


.navlogo {
    width: 10%;
    padding: 0% 7%;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
}

.navlogo img {
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: contain;

}

.navitems {
    width: 70%;


}

.navitems ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;


}

.navitems ul li {

    list-style: none;

}

.navlink {
    font-family: "Google Sans", sans-serif;

    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    font-size: clamp(.6rem, 1.5vw, 2rem);
    color: black;
}

.navitems button {
    background-color: rgba(255, 0, 0, 0);
    padding: 4px 10px;
    border-radius: 5px;
    border: 1.3px solid black;

}

.navitems select {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.navitems button , select{
      font-size: clamp(.6rem, 1.5vw, 2rem);
   }
.destinations {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0;
    padding: 0 5%;
    padding-top: 10vh;
    aspect-ratio: 3/2;

}

.dtexts {
    width: 50%;
    height: max-content;
        animation: fadeIn 1s ease-in forwards;

}

.dtexts h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: red;
    font-size: clamp(.5rem, 5vw, 2rem);
}

.dtexts h1 {
    margin-top: 0px;
    font-family: "Volkhov";
    font-size: clamp(2rem, 3vw, 5rem);
    color: #181E4B;
    line-height: clamp(.5, 1, 1.5);
}

.dimgs {
    width: 50%;
    aspect-ratio: 3/2;
    animation: fadeIn 1s ease-in forwards;
}

.dimgs img {
    width: 100%;
    object-fit: contain;
}

.girl {
    aspect-ratio: 1/1;
    height: 100%;
}

.dtexts p {
    width: 80%;
    font-size: clamp(.7rem, 1.5vw, 2rem);
    font-family: 'Poppins', sans-serif;

}

.dbutton {
    height: 15%;
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.dobut {
    background-color: #F1A501;
    border-radius: 5px;
    color: white;
    font-family: 'Open san', sans-serif;
    border: none;
    width: fit-content;
    padding: 2% 5%;
    aspect-ratio: 16/6;
    align-items: center;
    box-shadow: 0 10px 25px #F1A501;
    text-wrap: nowrap;
        font-size: clamp(0.6rem, 1.5vw, 2rem);

}

.drbut {
    background-color: #DF6951;
    border-radius: 50%;
    color: white;
    border: none;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(15%, 20%, 20%);
    height: 60%;
    font-size: clamp(0.6rem, 1.5vw, 2rem);    aspect-ratio: 1 / 1;
    box-shadow: 0 10px 25px #DF6951;

}

.playdemo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(.5rem, 1rem, 2rem);

}

.playdemo p {
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;


}

.second {
    margin-top: 5%;
    animation: fadeIn 1s ease-in forwards;

}

.sec {

    text-align: center;
    font-size: smaller;
    font-family: 'Volkhov', sans-serif;
}

.sec h3 {

    font-size: clamp(.5rem, 5vw, 3rem);
    font-family: 'Volkhov', sans-serif;
}

.sec p {
    color: #5E6282;
    font-family: "poppins", sans-serif;
    text-transform: uppercase;
    font-size:clamp(8px, 1.5vw, 1.5rem);
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    align-items: center;

}

.card {
    flex: 1 1 220px;
    margin: 3%;
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    animation: fadeIn .7s ease-in forwards;
}

.cimg {
    width: clamp(30%, 40%, 50%);
    aspect-ratio: 1/1;

}

.cimg img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card:hover {
    transition: 0.3s ease;
    padding: 1%  3%;
    box-shadow: 2px 2px 5px 6px rgba(0, 0, 0, 0.3);

}
.card::before {
    transition: 0.3s ease;
}


.card:hover .rblock {
    background-color: #DF6951;
    width: clamp(20%, 30%, 40%);
    aspect-ratio: 1/1;
    z-index: -1;
    position: absolute;
    bottom: -12%;
    left: -18%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 8px 6px -6px rgba(0, 0, 0, 0.3);
}

.card h4 {
    font-family: "open san", sans-serif;
    font-size: clamp(12px, 1.7vw, 2rem);
    
}

.card p {
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    font-size:clamp(10px,1.5vw, 1.5rem);
}



/*-----------------Third section------------------------------*/
.third {
    margin: 5%;

}

.third h3 {
    font-size: clamp(.5rem, 5vw, 3rem);
}
.carousel {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.tcards {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tcard {
    flex: 0 0 10%;
    min-width: 5rem;
    height: 90%;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    transition: flex-basis 0.3s ease, box-shadow 0.3s ease;
}

.tcard:hover {
    flex-basis: 30%;
    box-shadow: 5px 8px 10px -6px rgba(0, 0, 0, 0.3);
}


.tcard:hover .ttext{
    display: block;

}

/* .tcard:hover::after {
    transition: 0.3s ease;
    transform: scale(1);

} */
.tcards::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

.timg {
    width: 100%;
    height: 100%;
   border-radius: 10px;
}

.timg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;

}

.timg img:nth-of-type(1) {
    object-position: center;
}

.timg img:nth-of-type(2) {
    object-position: top;
}

.timg img:nth-of-type(3) {
    object-position: center;
}

.ttext {
    position: absolute;
    z-index: 2;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
   display: none;
    bottom: 0%;
    width: 100%;

}

.np h4 {
    margin: 0%;
    font-weight: normal;
    font-size: clamp(8px, 1.5vw, 2rem);

}

.np {
    padding: .3%;
    margin: 0% 5%;
    display: flex;
    justify-content: space-between;
}

.trip {

    margin: 0 5%;
}

.trip h4 {
    font-size: clamp(8px, 1.2vw, 1.7rem);
    font-weight: normal;
}

/*--------------------------------- fourth section ------------------------- */
.fourth {
    display: flex;
    margin: 5%;
}

.fimg {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fcard {
    position: relative;
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: #9CA0B0;
    font-family: 'Poppins', serif;
    padding: 5%;
    border-radius: 5%;
    box-shadow: 0px 1px 20px -6px rgba(0, 0, 0, 0.3);
}

.fcimg {
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.fcimg img {
    width: 100%;
    display: block;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}
.ftext{
    width: 50%;
}
.ftext h1 {
    font-family: Volkhov;
    text-transform: capitalize;
    font-size: clamp(.5rem, 5vw, 3rem);
}

.ftext h4 {
    font-family: poppins;
    color: #5E6282;
     font-size:  clamp(.5rem, 1.5vw, 2rem);
}

.ctext {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    font-family: poppins;
}

.over {
    padding: 2%;
    z-index: 3;
    width: 60%;
    position: absolute;
    background-color: white;
    display: flex;
    border-radius: 10px;
    right: -25%;
    bottom: 20%;
   height: 28%;
    box-shadow: 0px 1px 20px -6px rgba(0, 0, 0, 0.3);
}

.st {
    font-size: clamp(10px, 1.5vw, 35px);
}

.oimg {
    margin: 4%;
    width: 15%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.otext{
    width: 80%;

}

.oimg img {
    width: 100%;
    border-radius: inherit;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    margin-top: 20%;
}

.prog {
    appearance: none;
    width: 100%;
    height: 6px;
    margin-bottom: 2%;
}
/* 2. For Chrome, Safari, and Edge */
progress::-webkit-progress-bar {
    background-color: #e0e0e0;
    /* The empty track background color */
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #8A79DF;
    /* The filled progress bar color */
    border-radius: 10px;
}

.status {
    color: black;
    font-family: poppins;
    font-size: clamp(12px, 1.5vw, 1.8rem);
}

.ctext h4 {
    font-size: clamp(15px, 1.7vw, 2rem);
    color: rgb(0, 0, 0);
    font-family: poppins;
    margin: 2%;
}

.ptext p{
    display: flex;
    font-size: clamp(12px, 1.5vw, 1.5rem);
    margin: 1%;

}

.cicons {
    display: flex;
}

.cicon {
    font-size: clamp(10px, 1.5vw, 25px);
    background-color: #F5F5F5;
    margin: 2%;
    padding: 2%;
    border-radius: 50%;
    align-items: center;
}

.cicon:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: ease .2s;
    box-shadow: 0px 1px 20px -6px rgba(0, 0, 0, 0.3);

}

.like:hover {
    background-color: white;
    color: rgb(249, 14, 179);
    transform: scale(1.1);
    transition: ease .2s;
    box-shadow: 0px 1px 20px -6px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

.cfoot {
    display: flex;
    justify-content: space-between;
        font-size: clamp(10px, 1.5vw, 20px);
}
.cfoott{
    margin: 2%;

}

.ch {
    font-size: clamp(10px, 1.5vw, 20px);
}

.fthead {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 3%;
}

.row {
    display: flex;
}

.rimgs {
    align-items: center;
    width: 10%;
    display: flex;
}

.rimg {
    width: 70%;
    aspect-ratio: 1/1;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 5%;
    justify-content: center;
}

.rimg img {
    align-items: center;
    width: 50%;
}

.fthead .row:nth-child(1) .rimg {
    background-color: #F0BB1F;
}

.fthead .row:nth-child(2) .rimg {
    background-color: #F15A2B;
}

.fthead .row:nth-child(3) .rimg {
    background-color: #006380;
}

.rt {
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
    font-family: poppins;
    color: #5E6282;
}

.rth {
    margin: 0%;
    font-size: clamp(10px, 1.5vw,1.4rem);
}

.ctp {
    margin: 0%;
    font-size:  clamp(.5rem, 1.2vw, 2rem);
}
/* ------------------ fifth section ------------------------------- */
.fifth {
    display: flex;
    margin: 5%;
}

.fitext {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fitp {
    text-transform: uppercase;
    font-family: poppins;
     font-size:  clamp(.5rem, 2vw, 2.5rem);
}

.fith {
    font-family: volkhov;
      font-size:  clamp(.5rem, 5vw, 3rem);
}

.ficom {
    width: 50%;
    align-items: center;
    display: flex;
}
.coms {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
    aspect-ratio: 1/1;
}

.com {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: poppins;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -2px black;
}

.cp {
    color: #5E6282;
     font-size:  clamp(.5rem, 1.5vw, 2rem);
    margin-bottom: 5%;
}

.cn {
    font-weight: bolder;
     font-size:  clamp(.5rem, 1.5vw, 1.5rem);
}

.cl {
    color: #5E6282;
     font-size:  clamp(.5rem, 1.5vw, 1.5rem);
}

.ficimg {
    width: 10%;
    aspect-ratio: 1/1;
    top: -10%;
    left: -5%;
    position: absolute;
    border-radius: 50%;
    /* horizontal | vertical | blur | spread | color */
    box-shadow: 1px 1px 5px -2px black;
}

.ficimg img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

.f {
    top: 20%;
    left: 10%;
    z-index: 4;
    transition: opacity .7s ease;
}

:has(> .s:hover)>.f {
    opacity: 0.2;
    transition: opacity .7s ease;
}

.s {
    z-index: 3;
    top: 40%;
    left: 40%;
    opacity: .2;
    transition: opacity .7s ease;
}

.s:hover {
    z-index: 5;
    opacity: 1;
}

.s:hover::after {
    opacity: .2;
    transition: opacity .7s ease;
}
/* ---------------------section sixth------------------------------- */
.sponsors {
    display: flex;
    margin: 5%;
}

.spons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.spon {
    margin: 0 3%;
    width: 20%;
}

.spon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* -------------------- Seventh Section----------------------------- */
.sev {
    margin: 5%;
    position: relative;
}

.sbox {
    overflow: hidden;
    position: relative;
    background-color: #DFD7F9;
    border-radius: 20px;
    border-top-left-radius: 167px;
    width: 100%;
    aspect-ratio: 1.5/.5;
    display: flex;
    font-family: poppins;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E6282;
}

.sbh {
    width: 80%;
    text-align: center;
    z-index: 1;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.sbimg {
    position: absolute;
    z-index: 1;
    width: clamp(20vw, 20vw, 30vw);
    aspect-ratio: 1/1;
}

.sbimg img{
    width: 100%;
    height: 100%;
}
.sdinp {
    z-index: 2;
    margin-top: 6%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.sbinp {
    padding: 2%;
    width: 65%;
    border-radius: 3px;
    border: none;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.sub {
    width: 25%;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 5px;
    color: white;
    border: none;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.sbimg:nth-child(1) {
    bottom: -20%;
    left: 2%;
    transform: rotate(90deg);
}

.sbimg:nth-child(2) {
    top: 0%;
    right: -10%;
}

.ssend {
    width: 3%;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
    color: white;
    padding: 1%;
    position: absolute;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    top: -5%;
    right: -3%;
    z-index: 2;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}
/* ------------------------------footer--------------------------------------------------- */
footer{
    margin: 5%;
}
.foot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: poppins;
}

.ccol {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.lab {
    width: 25%;
}

.fch {
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: clamp(10px, 1.5vw, 30px);
}

.fcp {
    color: #5E6282;
    font-size: clamp(10px, 1.5vw, 30px);
}

.fh {
    font-size: clamp(20px, 2vw, 30px);
}

.fp {
    font-size: clamp(10px, 1.5vw, 30px);
}

.fico {
    width: 25%;
    display: flex;
    align-items: center;
}

.lfp {
    margin-top: 3%;
    width: 100%;
    font-family: poppins;
    color: #5E6282;
    font-size: clamp(10px, 1.5vw, 30px);
    text-align: center;
}

.footi {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.fi {
    border-radius: 50%;
    align-items: center;
    width: clamp(2rem, 2vw, 50px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    box-shadow: 1px;
    box-shadow: 1px 1px 5px -3px black;
}

.fi i {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: clamp(16px, 1.5vw, 30px); */
}

.fps {
    padding: 1% 1%;
    background-color: black;
    display: flex;
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    width: 43%;
    height: 100%;
}

.fih{
    font-size: clamp(10px, 1.5vw, 30px);
    text-align: center;
}

.fit {
    display: flex;
    flex-direction: column;
}

.instagram {
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    color: white;
}

.store {
    display: flex;
    width: 100%;
    height: clamp(20%, 10vw, 50%);
    justify-content: space-evenly;
}

.pas {
    width: clamp(10%, 10vw, 20%);
    aspect-ratio: 1/1;
    padding: .1%;
}

.pas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play1 {
    font-weight: bold;
}

.apple2 {
    font-weight: bold;
}

.play1 , .play2 , .apple1 , .apple2{
    font-size: clamp(8px, .65vw, 12px);
    font-family: poppins;
    text-wrap: nowrap;
}

.rd{
    box-shadow: none;
}